body {
    font-family: Arial, sans-serif;
}


#image-container {
    padding: 0;
    margin: 0;
    display: inline-block;
    /* Ensures container size fits the image */
    position: relative;
}

#image {
    display: block;
}

#geotag {
    display: block;
    width: 100%;
    /* This will be overridden by the JavaScript to match the image width */
    word-wrap: break-word;
    /* Ensure text wraps within the div */
    overflow-wrap: break-word;
    /* Ensure text wraps within the div */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}